/**
 * Slide Transition
 */

@keyframes toastybyte-slide-in {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes toastybyte-slide-out {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateX(100%) scale(0.95);
  }
}

.toastybyte-toast.transition-slide.entering {
  animation: toastybyte-slide-in 0.35s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.toastybyte-toast.transition-slide.exiting {
  animation: toastybyte-slide-out 0.25s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}