/**
 * Zoom Transition
 */

@keyframes toastybyte-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes toastybyte-zoom-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.toastybyte-toast.transition-zoom.entering {
  animation: toastybyte-zoom-in 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.toastybyte-toast.transition-zoom.exiting {
  animation: toastybyte-zoom-out 0.2s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}