/*
 * Brutalist Design
 */

/* ============================================
   BRUTALIST DESIGN
   ============================================ */

/* Brutalist - Light Theme */
.toastybyte-toast.design-brutalist.theme-light.variant-success {
  background: rgb(209, 250, 229);
  border: 4px solid rgb(6, 78, 59);
  color: rgb(6, 78, 59);
  box-shadow: 6px 6px 0 0 rgba(6, 78, 59, 0.15);
}

.toastybyte-toast.design-brutalist.theme-light.variant-error {
  background: rgb(254, 202, 202);
  border: 4px solid rgb(127, 29, 29);
  color: rgb(127, 29, 29);
  box-shadow: 6px 6px 0 0 rgba(127, 29, 29, 0.15);
}

.toastybyte-toast.design-brutalist.theme-light.variant-warning {
  background: rgb(254, 243, 199);
  border: 4px solid rgb(120, 53, 15);
  color: rgb(120, 53, 15);
  box-shadow: 6px 6px 0 0 rgba(120, 53, 15, 0.15);
}

.toastybyte-toast.design-brutalist.theme-light.variant-info {
  background: rgb(224, 242, 254);
  border: 4px solid rgb(12, 74, 110);
  color: rgb(12, 74, 110);
  box-shadow: 6px 6px 0 0 rgba(12, 74, 110, 0.15);
}

/* Brutalist - Dark Theme */
.toastybyte-toast.design-brutalist.theme-dark.variant-success {
  background: rgb(209, 250, 229);
  border: 4px solid rgb(6, 78, 59);
  color: rgb(6, 78, 59);
  box-shadow: 6px 6px 0 0 rgba(6, 78, 59, 0.15);
}

.toastybyte-toast.design-brutalist.theme-dark.variant-error {
  background: rgb(254, 202, 202);
  border: 4px solid rgb(127, 29, 29);
  color: rgb(127, 29, 29);
  box-shadow: 6px 6px 0 0 rgba(127, 29, 29, 0.15);
}

.toastybyte-toast.design-brutalist.theme-dark.variant-warning {
  background: rgb(254, 243, 199);
  border: 4px solid rgb(120, 53, 15);
  color: rgb(120, 53, 15);
  box-shadow: 6px 6px 0 0 rgba(120, 53, 15, 0.15);
}

.toastybyte-toast.design-brutalist.theme-dark.variant-info {
  background: rgb(224, 242, 254);
  border: 4px solid rgb(12, 74, 110);
  color: rgb(12, 74, 110);
  box-shadow: 6px 6px 0 0 rgba(12, 74, 110, 0.15);
}

/* Brutalist - Icon Containers */
.toastybyte-icon-container.design-brutalist.variant-success {
  background: black;
  color: rgb(52, 211, 153);
  border: 3px solid black;
}

.toastybyte-icon-container.design-brutalist.variant-error {
  background: black;
  color: rgb(248, 113, 113);
  border: 3px solid black;
}

.toastybyte-icon-container.design-brutalist.variant-warning {
  background: black;
  color: rgb(251, 191, 36);
  border: 3px solid black;
}

.toastybyte-icon-container.design-brutalist.variant-info {
  background: black;
  color: rgb(56, 189, 248);
  border: 3px solid black;
}

/* Brutalist - Progress Bars */
.toastybyte-progress-bar.design-brutalist {
  background: black;
}